PORT=3001
# Obtenha sua connection string em: https://console.neon.tech
# Dashboard > Connection String > Pooled connection
DATABASE_URL="postgresql://user:password@ep-xxx-xxx.region.aws.neon.tech/neondb?sslmode=require"
ADMIN_PASSWORD="sua_senha_admin_forte_aqui"
JWT_SECRET="sua_chave_secreta_jwt_aqui_min_32_caracteres"
